@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@font-face {
    font-family: 'Ephesis';
    src: url('font/Ephesis-Regular.ttf');
}
@font-face {
    font-family: 'Abc';
    src: url('font/PlayfairDisplay-VariableFont_wght.ttf');
}
h1{
    font-family: 'Ephesis';
}
h2{
    font-weight: 400;
    font-style: oblique;
}
p{
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    text-transform: capitalize;
}
a{
    font-weight: 700;
}